/* GLOBAL */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #e8f5e9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #2e7d32;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: url('mountain.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

/* FUN FACT BUTTON */
button {
    padding: 12px 20px;
    background: #388e3c;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
}

button:hover {
    background: #2e7d32;
    transform: scale(1.05);
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #1b5e20;
}

.container {
    text-align: center;
}

